<!DOCTYPE html>
<html>
    <head>
        <title>홈</title>

    </head>
    <body>
        <h1>글쓰기 폼</h1>
        <form method="post" action="writeOk">
        <ul>
            아이디: <input type="text" name="userid"/><br/>
            제목 : <input type="text" name="subject"/><br/>
            글내용 : <textarea name="content"></textarea>

            <input type="submit" value="글등록"/>
        

        </ul>
        </form>
    </body>
</html>